[submodule "vendor/restclient-cpp"]
	path = vendor/restclient-cpp
	url = https://github.com/mrtazz/restclient-cpp
[submodule "vendor/curl"]
	path = vendor/curl
	url = https://github.com/bagder/curl
[submodule "vendor/libsodium"]
	path = vendor/libsodium
	url = https://github.com/jedisct1/libsodium
